.menu {
  @include mq(laptap) {
    min-height: 44vh;
  }

  &__heading {
    text-align: center;
    font-family: $font-deco-1;
    text-transform: uppercase;
    margin: 0 auto 3rem;
    font-size: 3.2rem;
  }

  &__tabs {
    background: $light-grey-2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    max-width: $pc-max-width;
    margin: 0 auto;
  }

  &__tab {
    padding: 2rem;
    flex: 1;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $color-primary;
    border: 1px solid $color-primary;
    transition: all 0.4s;
    cursor: pointer;

    &:not(:first-child) {
      border-left: none;
    }

    &.active {
      background: $color-primary;
      color: $white;
    }
  }

  &__content {
    width: $sp-basic-width;
    margin: 0 auto;

    @include mq(laptap) {
      max-width: $pc-max-width;
    }
  }

  &__item {
    display: none;
    padding: 1rem;

    @include mq(laptap) {
      padding: 0;
    }

    &.active {
      display: block;
    }

    &__heading {
      font-family: $font-deco-2;
      font-size: 4rem;
      text-align: center;
      margin: 0 auto 2rem;

      @include mq(laptap) {
        font-size: 6rem;
      }
    }

    &__content {
      width: 96%;
      margin: 0 auto;
      text-align: center;

      p {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }

      .tel {
        font-size: 4.8rem;
        font-family: $font-deco-1;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;

        .iconify {
          margin-right: 1rem;
          font-size: 3.4rem;
          display: none;
        }

        @include mq(tab) {
          .iconify {
            display: inline;
          }
        }
      }

      @include mq(laptap) {
        margin: 0 auto;
        width: 100%;

        .max-80 {
          max-width: 80rem;
          margin: 0 auto;
        }
      }
    }

    &__image {
      width: 100%;
      margin: 0 auto 1rem;
    }
  }

  &__list {
    @include mq(laptap) {
      display: flex;
    }

    &__item {
      font-size: 1.8rem;
      font-family: $font-deco-1;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 auto 3rem;

      @include mq(laptap) {
        &:not(:last-child) {
          margin: 0 3rem 0 0;
        }
      }
    }
  }
}
