@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');

// COLORS
$color-primary: #a68b7c;
$color-primary-light: #c9c1b9;
$grey: #777;
$light-grey-1: #ccc;
$light-grey-2: #fafafa;
$white: #fff;
$black: #353031;

// FONT
$default-font-size: 1.6rem;
// $font-family:
$font-family: 'Lato', sans-serif;
$font-deco-1: 'Lora', serif;
$font-deco-2: 'Kristi', cursive;

// WIDTH
$sp-basic-width: 90%;
$pc-basic-width: 90%;
$pc-content-width: 100rem;
$pc-max-width: 120rem;

// HEIGHT
$sp-nav-height: 6rem;
